@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    padding-bottom: 3rem;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day, .hour, .minute, .second {
    font-size: 2rem;
}